:root {
	--font-color: black;
	--background-color: white;
}

[data-theme="dark"] {
	--font-color: white;
	--background-color: black;
}

[data-theme="dark"] #sun {
	display: none;
}

:not([data-theme="dark"]) #moon {
	display: none;
}

[data-theme="dark"] #moon {
	display: block;
}

body {
	margin: 0;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);

	overflow-x: hidden;

	transition: background 1s;
}

header {
	width: 100dvw;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

img {
    /* pointer-events: none; */
	user-select: none;
}

p {
	color: var(--font-color);

	transition: color 1s;
}

#logo {
	margin-left: 15px;
	box-sizing: border-box;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	flex-direction: column;
	flex: 1;
}

#content-background {
	z-index: -1;
	width: 100dvw;
	overflow: hidden;
}

#flying_shit {
	overflow: hidden;
	position: absolute;
	top: 20%;
	left: -200px;
	animation: bird_horiz 9s linear infinite, bird_vert 1s ease-in-out infinite;
}

@keyframes bird_horiz {
	from { left: 0; }
  	to   { left: calc(100vw + 200px); }
}

@keyframes bird_vert {
	0% {
		transform: translateY(-40%);
	}

	50% {
		transform: translateY(-60%);
	}

	100% {
		transform: translateY(-40%);
	}
}

/*
@keyframes bird_vert {
	0% {
		transform: translateY(-40%);
	}

	10% {
		transform: translateY(-60%);
	}

	20% {
		transform: translateY(-40%);
	}

	30% {
		transform: translateY(-60%);
	}

	40% {
		transform: translateY(-40%);
	}

	50% {
		transform: translateY(-60%);
	}
} */

footer {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./footer.png');
	background-size: contain;
	background-repeat: repeat-x;
}